<%-include("partials/header.ejs")%>
<body class="wrapper">
  <div class="container mt-3">
    <div class="row align-items-center">
      <div class="col-4 ms-3">
        <img
          src="https://tse1.mm.bing.net/th/id/OIP.WQoaaiGutPpuN-rTD-VdQgHaGQ?pid=Api&P=0&h=180"
          alt="blog"
        />
      </div>
      <div class="col-6">
        <h1 class="mt-5">Your Words Have Power</h1>
        <p class="lead" style="font-weight: 400; font-size: large">
          Welcome to our community of bloggers, where your words have the power
          to connect, inspire, and transform. Here, we provide you with a safe
          space to share your experiences, reflections, and knowledge with an
          enthusiastic audience.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container mt-3">
      <div class="row align-items-center">
        <div class="col-4">
          <img
            src="https://tse4.mm.bing.net/th/id/OIP.CtUL2YqBh_1Z3T1U2UPXwAHaFR?pid=Api&P=0&h=180"
            alt="blog"
          />
        </div>
        <div class="col-8">
          <h1 class="mt-5">A Platform to Express Your Ideas</h1>
          <p class="lead" style="font-weight: 400; font-size: large">
            Our objective is simple: to provide you with a platform where you
            can express yourself and share your stories with the world. With our
            website, you can create, edit, and delete blogs as you please.
            Whether you want to write about your travels, your professional
            career, your passions, or any other topic, this is the perfect place
            for you.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container mt-3">
        <div class="row align-items-center">
          <div class="col-4">
            <img
            src="https://tse2.mm.bing.net/th/id/OIP.fb3Lwb5chVxtUhhTLe8pbQHaHa?pid=Api&P=0&h=180"
            alt="blog"
            />
          </div>
          <div class="col-8">
            <h1 class="mt-5">Start Your Journey with Us</h1>
            <p class="lead" style="font-weight: 400; font-size: large">
              If you're ready to share your stories and be part of a community
              passionate about writing, join us. Here, you can not only create
              your first blog but also read the experiences and stories of
              others. Find inspiration, share your thoughts, and connect with
              others who, like you, have something unique to say. Don't wait any
              longer—start your journey with us and create your first blog
              today!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%-include("partials/footer.ejs")%>
</body>
